services:
  db:
    image: postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      # .envから値を読み込む
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"

  backend:
    build: ./backend
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
    environment:
      # FastAPI側でもDB接続URLを環境変数として受け取る
      DATABASE_URL: ${DATABASE_URL}
    depends_on:
      - db
    env_file:
      - .env

volumes:
  postgres_data:
